.contact-us {
  display: grid;
  row-gap: 80px;
  justify-content: center;

  &__heading {
    @extend %headline-section;
    text-transform: lowercase;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__main-container {
    @include grid-for-mobile;

    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
  }

  &__container {
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 1fr;
  }

  &__contacts {
    display: grid;
    align-items: baseline;
    row-gap: 24px;
  }

  &__contacts-item {
    font-size: 16px;
    display: grid;
    line-height: 27px;

    &--title {
      opacity: 0.5;
    }
  }

  &__item-phone {
    color: #000;
  }

  &__item-email {
    color: #000;
  }

  &__form {
    @media screen and (max-width: $container-width) {
      justify-content: inherit;
    }
    display: grid;
    justify-content: end;
    row-gap: 15px;
  }

  &__input {
    @media screen and (max-width: $container-width) {
      width: 100%;
    }
    @extend %form;
  }

  &__textarea {
    @media screen and (max-width: $container-width) {
      width: 100%;
    }
    @extend %form;
    height: 144px;
    resize: none;
    padding: 17px;
  }

  &__button {
    margin-top: 16px;
    border: 2px solid $theme-color;
    height: 56px;
    @include button($white-color, $theme-color);

    &:hover {
      background-color: $white-color;
      box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
      color: $theme-color;
    }
  }

  @media screen and (max-width: $container-width) {
    justify-content: inherit;
  }
}
