.footer {
  background: url(/images/footer.jpg) center / cover;
  height: 60vh;
  margin-top: 88px;
  z-index: -2;

  &__logo {
    margin: 0 auto;
    display: block;
    position: relative;
    top: 70%;
    @extend %logo;
    @extend %hover-eclipse;
  }
}
