.gallery {
  display: grid;
  row-gap: 60px;

  &__heading {
    @extend %headline-section;
  }

  &__grid-3-1 {
    @include gallery-grid-template(4fr 2fr);
    @include grid-for-mobile-gallery;
  }

  &__image {
    @media screen and (max-width: 900px) {
      height: calc(256px / 2);
    }
    @extend %hover-zoom-efect;
    @extend %gallery-img;
  }

  &__adress {
    font-size: 16px;
  }

  &__adress-link {
    @extend %hover-eclipse;
    color: $theme-color;
    font-weight: bold;
  }

  &__grid-1-1 {
    @include gallery-grid-template(2fr 2fr);
  }

  &__grid-1-3 {
    @include grid-for-mobile-gallery;
    @include gallery-grid-template(2fr 4fr);
  }

  &__checkbox {
    display: none;
  }

  &__hided {
    height: 0;
    display: none;
    visibility: hidden;
    transition: 1s ease-in;
  }

  &__button {
    width: 188px;
    height: 56px;
    margin: 0 auto;
    transition: 500ms;
    @include button($theme-color, $white-color);

    &:hover {
      background-color: $theme-color;
      color: $white-color;
    }
  }
}
