@import "utils";
@import "fonts";
@import "header";
@import "about-us";
@import "gallery";
@import "consultation";
@import "testimonials";
@import "contact-us";
@import "footer";
@import "mobile-menu-burger-animation";

html {
  scroll-behavior: smooth;
}

.container {
  @extend %minmax-width-container;
  margin: 0 auto;
  padding: $out-border;
}
