.header {
  &__burger-slice {
    width: 20px;
    height: 2px;
    margin-top: 3px;
    border-radius: 1px;
    background-color: #fff;
    transition: 1s;
  }

  &__burger-toogler {
    cursor: pointer;
  }

  &__checkbox {
    display: none;
  }

  &__mobile-contacts {
    display: none;
    margin-top: 30px;
  }

  &__mobile-menu-order {
    position: relative;
    padding-bottom: 8px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 25px;
      background-color: #fff;
      width: 110px;
      height: 1px;
    }
  }

  .checkbox:checked ~ &__container &__burger-slice--first {
    transform: rotateZ(45deg);
  }

  .checkbox:checked ~ &__container &__burger-slice--second {
    display: none;
  }

  .checkbox:checked ~ &__container &__burger-slice--third {
    transform: rotateZ(-45deg);
    margin-top: -2px;
  }

  .checkbox:checked ~ &__container &__li-item {
    display: flex;
    font-size: 22px;
  }

  .checkbox:checked ~ &__container &__mobile-contacts {
    display: block;
  }

  .checkbox:checked ~ &__container &__ul-item {
    display: block;
    margin-top: 150px;
    transition: 0.3s ease-in;
  }

  .checkbox:checked ~ &__container &__main-content {
    transition: 0.3s ease-in;
    position: absolute;
    top: 0;
    background-color: #0075ff;
    height: 100vh;
  }

  .checkbox:checked ~ &__container &__headline {
    display: none;
  }
}
