.testimonials {
  display: grid;
  row-gap: 80px;

  &__heading {
    @extend %headline-section;
  }

  &__container {
    @include grid-for-mobile;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 150px;
    grid-gap: 48px;
    justify-items: center;
    text-align: center;
    align-items: baseline;
  }

  &__person {
    max-width: 240px;
    row-gap: 15px;
    display: grid;
    justify-items: center;
  }

  &__img {
    border-radius: 50%;
    width: 153px;
    height: 153px;
  }

  &__name {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $theme-color;
  }

  &__position {
    font-size: 14px;
    opacity: 0.5;
  }

  &__quote {
    font-size: 16px;
  }
}
