@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin gallery-grid-template($grid-property) {
  display: grid;
  grid-template-columns: $grid-property;
  justify-items: stretch;
  grid-gap: 20px;
}

@mixin button($color, $bg-color) {
  color: $color;
  background-color: $bg-color;
  border: 2px solid $theme-color;
  border-radius: 8px;
  font-family: $f-family;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  transition: 500ms;
}

@mixin grid-for-mobile {
  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

@mixin grid-for-mobile-gallery {
  @media screen and (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
